* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.clear {
  clear:both;
  margin-bottom:20px;
}

body {
  background-color:#333;
  font-family:sans-serif;
  font-family: 'Source Code Pro', sans-serif;
  background-image: url(../images/pattern.png);
}

#wrapper {
  width: 75%;
  margin: auto;
  background-color:#F2F2F2;
  border:1px solid #D8D8D8;
  padding:40px;
  border-radius: 8px;
  margin-top:5%;
  margin-bottom:100px;
  clear:both;
  text-align:center;

}

h1 {
  color: #333;
  text-align:center;
  width:90%;
  margin: 0 auto 20px auto;

}

h3 {
  font-family: 'Source Code Pro', sans-serif;
  font-size:24px;
  font-weight:normal;
  border-top: 1px solid #D8D8D8;
  padding-top:20px;
  width:85%;
  margin:0 auto 20px auto;
}

.project-container {
  width:80%;
  text-align:center;
  margin-bottom:25px;
}

.item {
  width: 30%;
  float:left;
  margin:15px;
}

.last-item a {
  width: 100%;
  font-family: 'Arvo', serif;
  border-radius:3px;
  padding:13px;
  background-color:#fc0;
  margin:5px;
  text-decoration:none;
  color:#333;
  margin-top: 300px;
}

img {
  width:100%;
  height:auto;
  border:1px solid #999;
  box-shadow: 0px 0px 5px #ccc;
  margin: 0 0 20px 0;
}

img:hover {
  box-shadow: 0px 0px 5px #333;
}

a.repo-link {
  font-family: 'Arvo', serif;
  border-radius:3px;
  padding:13px;
  background-color:#fc0;
  margin:5px;
  text-decoration:none;
  color:#333;
  width:90%;
  display:block;
}

a.repo-link:hover {
  background-color:#333;
  color:#fc0;
}

.clear {
  clear:both;
}

ul {
  width:100%;
  text-align:center;
  -webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

.ul-wrapper {
  text-align:center;
}

ul li {
  font-family: 'Arvo', serif;
  border-radius:3px;
  display:inline-block;
  padding:10px;
  background-color:#fc0;
  list-style-type:none;
  margin:5px 0;
  text-align:center;

}

ul li:hover {
  background-color:#333;
  color:#fc0;
}

@media all and (max-width: 850px) and (min-width: 0px) {
  #wrapper {
    width:80%
  }
}

@media all and (max-width: 700px) and (min-width: 0px) {

  .project-container {
    width:100%;
  }
  .item {
    float:none;
    width:95%;
    margin:0 auto;

  }
}
